body {
    font-family: Arial, sans-serif;
    /* background: #f0f4f8; */
    background: black;
    margin: 0;
    padding: 20px;
  }
  
  .quiz-container {
    max-width: 650px;
    margin: auto;
    background: #3694b4;
    padding: 30px 20px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .logo {
    max-width: 100px;
    margin-bottom: 15px;
  }
  
  h1 {
    font-size: 24px;
    color:yellow;
    margin-bottom: 20px;
  }
  h3 {
    font-size: 24px;
    color:crimson;
    margin-bottom: 20px;
  }
  h2 {
    font-size: 30px;
    color:antiquewhite;
    margin-bottom: 20px;
  }
  
  #player-name {
    width: 90%;
    max-width: 400px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  #timer {
    font-weight: bold;
    color:red;
    margin-bottom: 20px;
    font-size: 18px;
  }
  
  .question {
    margin-bottom: 25px;
    text-align: left;
  }
  
  .question p {
    font-weight: bold;
  }
  
  label {
    display: block;
    margin: 8px 0;
    font-size: 16px;
    cursor: pointer;
  }
  
  button {
    /* background: #3498db; */
    background: blue;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
    width: 100%;
    max-width: 200px;
  }
  
  button:hover {
    /* background: #2980b9; */
    background: green;
  }
  
  #result {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
    color: #2c3e50;
  }
  
  @media (max-width: 480px) {
    .quiz-container {
      padding: 20px 10px;
    }
  
    h1 {
      font-size: 20px;
    }
  
    label,
    #player-name,
    button {
      font-size: 15px;
    }
  }
  